body {
  font-family: system-ui, sans-serif;
  background: #f2f4f7;
  margin: 0;
}

.container {
  max-width: 850px;
  margin: auto;
  background: white;
  padding: 30px;
  border-radius: 14px;
}

h1, h2 {
  text-align: left;
}

.question, .mc {
  margin: 0px 0;
  padding: 10px;
  border-radius: 8px;
}

.correct {
  background: #e6f7ea;
  border-left: 5px solid #2ecc71;
}

.wrong {
  background: #fdeaea;
  border-left: 5px solid #e74c3c;
}

label {
  display: block;
  margin-left: 20px;
}

input[type="text"] {
  width: 200px;
  padding: 5px;
  margin: 0 5px;
  text-transform: lowercase;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

button {
  padding: 12px 25px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
}

#vysledek {
  margin-top: 25px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
